

<form id="FormCIId" [formGroup]="formCI" (ngSubmit)="submet()"> 
<div class="card col-12">
  <div class="card-header font-weight-bold row ">
    <div class=" alert-success col-3">
      {{titulo}}  {{formCI.value.COD_DETINC}}
    </div>
  <div class="row justify-content-center col-9">
    <div class="custom-control custom-switch col-2 ">
      <input type="checkbox" class="form-control custom-control-input" value="0" id="utepcc_detinc" formControlName="UTEPCC_DETINC">
      <label class="custom-control-label" for="utepcc_detinc"> UTE/Alstom</label>
    </div>
    <div class="custom-control custom-switch col-2">
      <input type="checkbox" class="form-control custom-control-input" value="0"  id="pdfpcc_detinc" formControlName="PDFPCC_DETINC">
      <label class="custom-control-label" for="pdfpcc_detinc">Pdf</label>
    </div>
    <div class="custom-control custom-switch col-2">
      <input type="checkbox" class=" form-control custom-control-input"  value="0"  id="emailpcc_detinc" formControlName="EMAILPCC_DETINC">
      <label class="custom-control-label" for="emailpcc_detinc">Email</label>
    </div>

    
    <!--<div class="custom-control custom-switch col-2">
      <input type="checkbox" class=" form-control custom-control-input"  value="0"  id="emailpcc_detinc" formControlName="EMAILPCC_DETINC">
      <label class="custom-control-label" for="emailpcc_detinc">Email</label>
    </div>-->
  </div>
   
  </div>
  <div class="card-body ">
   
   
      <div class="contenedor1">
      
         <div class="form-group formax ">
          <label for="cod_rama_detinc" class="col-3">Imputable a:</label>
          <select class="form-control col-9" formControlName="COD_RAMA_DETINC"  
           (change)="sistemaunico()">
            <option *ngFor="let niveloptionrama of listaramaunica" [ngValue]="niveloptionrama.COD_RAMA">
              {{niveloptionrama.COD_RAMA}}
              {{niveloptionrama.DESC_RAMA}}
            </option>
          </select>
        </div>

        <div class="form-group formax ">
          <label for="cod_sistema_detinc" class="col-3">Sistema:</label>
          <select class="form-control col-9" id="cod_sistema_detinc" formControlName="COD_SISTEMA_DETINC"
          (change)="subsistemaunico()">
            <option *ngFor="let niveloptionsistema of listasistemaunico" [ngValue]="niveloptionsistema.COD_NIVEL1">
              {{niveloptionsistema.COD_NIVEL1}}
              {{niveloptionsistema.DESC_NIVEL1}}
            </option>
          </select>
        </div>

        <div class="form-group formax ">
          <label for="cod_subsistema_detinc" class="col-3">Subsistema:</label>
          <select class="form-control col-9" id="cod_subsistema_detinc" formControlName="COD_SUBSISTEMA_DETINC"
          (change)="equipounico()">
            <option *ngFor="let niveloptionsubsistema of listasubsistemaunico" [ngValue]="niveloptionsubsistema.COD_NIVEL2">
              {{niveloptionsubsistema.COD_NIVEL2}}
              {{niveloptionsubsistema.DESC_NIVEL2}}
            </option>
          </select>
        </div>

        <div class="form-group formax ">
          <label for="cod_equipo_detinc" class="col-3">Equipo:</label>
          <select class="form-control col-9" id="cod_equipo_detinc" formControlName="COD_EQUIPO_DETINC"
          (change)="equipounico()">
            <option *ngFor="let niveloptionequipo of listaequipounico" [ngValue]="niveloptionequipo.COD_NIVEL2">
              {{niveloptionequipo.COD_NIVEL3}}
              {{niveloptionequipo.DESC_NIVEL3}}
            </option>
          </select>
        </div>


        <div class="form-group formax ">
          <label for="cod_lugar_detinc" class="col-3">Localización:</label>
          <select class="form-control col-9" id="cod_lugar_detinc" formControlName="CODLUGAR_DETINC" >
          <option *ngFor="let lugar of lugares" [ngValue]="lugar.COD_LUGAR">
             {{lugar.NOM_LUGAR}}
          </option>
          </select>

        </div>

        <div class="form-group formax ">
          <label for="cod_via_detinc" class="col-3">Via:</label>
          <select class="form-control col-9" id="cod_via_detinc" formControlName ="CODVIA_DETINC" >
          <option *ngFor="let via of vias" [ngValue]="via.COD_VIA">
             {{via.NOM_VIA}}
          </option>
          </select>

        </div>
        <label for="DESC_DETINC">Descripción</label>
        <textarea type="text" class="form-control " formControlName="DESC_DETINC" ></textarea>
      </div>

   
      <div class="form-group contenedor2">


        <div class="card-column">
          <div class="card tarjeta1">
            <div class="card-header font-weight-bold">Apertura / Sistema Dañado o Inoperativo</div>
            <div class="card-body">

              <div class="form-group formax">
                <label for="fecap_detinc" class="col-4">Fecha: </label>
                <input type="datetime-local" class="form-control" formControlName="FECAP_DETINC" >
             </div>
            </div>
          </div>


          <div class="card tarjeta1">
            <div class="card-header font-weight-bold">Sistema Reparado / Operativo (PCC)</div>
            <div class="card-body">

              <div class="form-group formax" >
                <label for="fecci_detinc" class="col-4">Fecha: </label>
                <input type="datetime-local" class="form-control" formControlName="FECCI_DETINC"  >
              </div>
            </div>
          </div>
        </div>

      </div>
    

  </div>
  <div class="card-footer">
    <div class="form-group">
      <!--<button type="submit" class="btn btn-primary "  data-toggle="modal" data-target="#ModalGuardaCi">Guardar</button>-->
      <button type="submit" class="btn btn-primary " >Guardar</button>
      <button type="button" class="btn btn-primary  btn btn-danger " routerLink="relci">Cancelar</button>
      <button type="button" class="btn btn-primary" (click)="nuevaCi()" >Nueva Incidencia</button>
    </div>
  </div>
</div>

</form>



<ng-template #ModalGuardaCi let-modal>  
<!--<div class="modal fade" id="ModalGuardaCi" tabindex="-1" role="dialog" aria-labelledby="ModalGuardaCiLabel" aria-hidden="true">-->

<div class="modal-dialog"  role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="ModalLiveLabel">Tramitar CI</h5>
    </div>
    <div class="modal-body">
      <p>Confirme que desea tramitar la CI o guardar los cambios.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss('salir')">Cerrar</button>
      <button type="button" class="btn btn-primary" (click)="guardarCi()" (click)="modal.close('cerrar')" data-dismiss="modal">Guardar cambios</button>
    </div>
  </div>
<!--</div>-->
</div>
</ng-template>