  <div class="card">
    <div class="card-header font-weight-bold">Incidencias Dats</div>
    <div class="card-body ">
        <div class="grid-container">
            <div class="TituloTramoA font-weight-bold"> Tramo A </div>
            <div class="TramoA">

                <div class="row">
                    <button type="submit" class="btn btn-info" >A01-1</button>
                    <button type="submit" class="btn btn-info" >A02-1</button>
                    <button type="submit" class="btn btn-info" >A03-1</button>
                    <button type="submit" class="btn btn-info" >A04-1</button>
                    <button type="submit" class="btn btn-info" >A05-1</button>
                    <button type="submit" class="btn btn-info" >A06-1</button>
                    <button type="submit" class="btn btn-info" >A07-1</button>
                    <button type="submit" class="btn btn-info" >A08-1</button>
                    <button type="submit" class="btn btn-info" >A09-1</button>
                    <button type="submit" class="btn btn-info" >A10-1</button>
                    <button type="submit" class="btn btn-info" >A11-1</button>
                    <button type="submit" class="btn btn-info" >A12-1</button>
                </div>   
                <div class="row">
                    <button type="submit" class="btn btn-info" >A01-2</button>
                    <button type="submit" class="btn btn-info" >A02-2</button>
                    <button type="submit" class="btn btn-info" >A03-2</button>
                    <button type="submit" class="btn btn-info" >A04-2</button>
                    <button type="submit" class="btn btn-info" >A05-2</button>
                    <button type="submit" class="btn btn-info" >A06-2</button>
                    <button type="submit" class="btn btn-info" >A07-2</button>
                    <button type="submit" class="btn btn-info" >A08-2</button>
                    <button type="submit" class="btn btn-info" >A09-2</button>
                    <button type="submit" class="btn btn-info" >A10-2</button>
                    <button type="submit" class="btn btn-info" >A11-2</button>
                    <button type="submit" class="btn btn-info" >A12-2</button>
                </div>   
               
              
               
            </div>
            <div class="TituloTramoB font-weight-bold">Tramo B</div>
            <div class="TramoB">

                <div class="row">
                    <button type="submit" class="btn btn-warning " >B01-1</button>
                    <button type="submit" class="btn btn-warning " >B02-1</button>
                    <button type="submit" class="btn btn-warning " >B03-1</button>
                    <button type="submit" class="btn btn-warning " >B04-1</button>
                    <button type="submit" class="btn btn-warning " >B05-1</button>
                    <button type="submit" class="btn btn-warning " >B06-1</button>
                    <button type="submit" class="btn btn-warning " >B07-1</button>
                    <button type="submit" class="btn btn-warning " >B08-1</button>
                    <button type="submit" class="btn btn-warning " >B09-1</button>
                    <button type="submit" class="btn btn-warning " >B10-1</button>
                    <button type="submit" class="btn btn-warning " >B11-1</button>
                   
                </div>   
                <div class="row">
                    <button type="submit" class="btn btn-warning " >B01-2</button>
                    <button type="submit" class="btn btn-warning " >B02-2</button>
                    <button type="submit" class="btn btn-warning " >B03-2</button>
                    <button type="submit" class="btn btn-warning " >B04-2</button>
                    <button type="submit" class="btn btn-warning " >B05-2</button>
                    <button type="submit" class="btn btn-warning " >B06-2</button>
                    <button type="submit" class="btn btn-warning " >B07-2</button>
                    <button type="submit" class="btn btn-warning " >B08-2</button>
                    <button type="submit" class="btn btn-warning " >B09-2</button>
                    <button type="submit" class="btn btn-warning " >B10-2</button>
                    <button type="submit" class="btn btn-warning " >B11-2</button>
                    
                </div>   
               
              
                             

                             
            </div>
            <div class="TituloTramoC font-weight-bold">Tramo C</div>
            <div class="TramoC">
                <div class="row">
                    <button type="submit" class="btn btn-secondary" >C01-1</button>
                    <button type="submit" class="btn btn-secondary" >C02-1</button>
                    <button type="submit" class="btn btn-secondary" >C03-1</button>
                    <button type="submit" class="btn btn-secondary" >C04-1</button>
                    <button type="submit" class="btn btn-secondary" >C05-1</button>
                </div>   
            </div>
       </div>


   </div>



</div>
